.grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 0px;
    width: 500px;
    height: 500px;
    padding: 0;
    box-sizing: border-box;
}

.cell {
    width: 50px;
    height: 50px;
    border:1px solid #000000;
    text-align: center;
    line-height: 30px;
    display: inline-flex;
}

.ship {
    background-color: lightblue;
}

.blocker{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1); /* optional: dimmed overlay */
  z-index: 1;
}

.replay {
  position: absolute; /* or absolute if you want relative to a parent */
  z-index: 10; /* higher than blocker */
}